<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <h1> Question Time </h1>
    <style>
    body{
      margin: 0px;
    }
    nav{
      background-color: blue;
      color: white;
      width : 100vw;
      height : 10vh;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    </style>
  </nav>
    <%= yield %>
  </body>
</html>
